<div class="content__user">
  <div class="content__user__top">
    <% breadcrumb :sign_in %>
    <%= breadcrumbs separator: " &rsaquo; " %>
  </div>
  <div class="content__user__body">
    <div class="content__user__body__left">
      <h2>新規登録</h2>
    </div>

    <div class="content__user__body__right">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "件のエラーにより") %> 保存できませんでした。</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%# <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field__nickname">
            <%= f.label :nickname %><br />
            <%= f.text_field :nickname, autofocus: true, class: "field__nickname__text" %>
          </div>
            
          <div class="field__email">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field__email__text" %>
          </div>

          <div class="field__age">
            <%= f.label :age, '年齢' %>
            <%= f.select :age, [["",""], ["10代","10"], ["20代","20"], ["30代","30"], ["40代","40"], ["50代","50"], ["60代","60"], ["70代以上","70"] ], {}, class: "field__age__text" %>
          </div>

          <div class="field__sex">
            <%= f.label :sex, '性別' %>
            <%= f.select :sex, [["",""], ["男性","1"], ["女性","2"]], {}, class: "field__sex__text" %>
          </div>

          <div class="field__password">
            <%= f.label :password, 'パスワード' %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "field__password__text" %>
          </div>

          <div class="field__password__confirmation">
            <%= f.label :password_confirmation, '確認パスワード（もう１度ご入力ください）' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field__password__confirmation__text" %>
          </div>

          <div class="actions">
            <%= f.submit "登録" %>
          </div>
        </div>
      <% end %>
      <div class="session">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>