<% if user_signed_in? %>
  <% if post.like_user(current_user.id) %>
    <%= link_to post_like_path(current_user, @like, post_id: post.id), method: "DELETE", id: "like-button", remote:true do %>
      <i class="fa fa-heart like-btn" ></i>いいね件数:
      <span>
        <%= @likes.where(post_id: post.id).count %>
      </span>
    <% end %>
  <% else %>
    <%= link_to post_likes_path(current_user, post_id: post.id), method: "POST", id: "like-button", remote:true do %>
      <i class="fa fa-heart unlike-btn"></i>いいね件数:
      <span>
        <%= @likes.where(post_id: post.id).count %>
      </span>
    <% end %>
  <% end %>
<% else %>
  <i class="fa fa-heart unlike-btn"></i>
  <span>
    いいね件数: <%= @likes.where(post_id: post.id).count %>
  </span>
<% end %>