<div class="content__user">
  <div class="content__user__top">
    <% breadcrumb :password %>
    <%= breadcrumbs separator: " &rsaquo; " %>
  </div>
  <div class="content__user__password">
    <div class="content__user__password__left">
      <h2>パスワードをお忘れですか？</h2>
    </div>
  
    <div class="content__user__password__right">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="field__email">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field__email__text" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "パスワードのリセット手順を送ってください" %>
        </div>
      <% end %>
      <div class="registration" class="session">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>