<header>
  <div class="header__content">
    <div class="header__content__left">
      <%= link_to "Je mets au défi la vie.", '/', class: "header__content__left" %>
    </div>
    <div class="header__content__right">
      <div class="header__content__right__icon">
        <%= link_to("https://twitter.com/home") do %>
          <%= fa_icon("twitter") %>
        <% end %>
        <%= link_to("https://github.com/takahiro-ueda") do %>
          <%= fa_icon("github") %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="contents">
  <div class="content">
    <%= image_tag '/10213.jpg', class: "content__image" %>
    <div class="content__header">
      <ul class="content__header__list">
        <li class="content__header__list__icon"><a href="/">ホーム</a></li>
        <li class="content__header__list__icon"><a href="/">プロフィール</a></li>
        <li class="content__header__list__icon"><a href="/">制作概要</a></li>
        <li class="content__header__list__icon"><a href="posts">ブログ</a></li>
      </ul>
    </div>
    <div class="content__main">
      <div class="content__main__left">
        <div class="content__main__left__header">
        <h2>新着投稿</h2>
        </div>
      </div>
      <div class="content__main__right">
        <ul class="content__main__right__side">
          <li class="content__main__right__side__list">
            <h2 class="content__main__right__side__list__menu">作成者</h2>
            <ul>
              <li>
                <img src="/line_743968890967290.jpg" alt="staff1" class="content__main__right__side__list__menu__image">
                <h4 class="stylist-name">
                植田　孝啓（うえだ　たかひろ）<br>
                1996/04/25 (24歳)<br>
                未経験からプログラミングを学習<br>
                しています<br>
                日々の積み上げを記録していき<br>
                たいと思います<br>
                よろしくお願いします！！！
                </h4>
              </li>
            </ul>
            <h2 class="content__main__right__side__list__menu">カテゴリー一覧</h2>
            <ul>
              <li><a href="#">プログラミング日記</a></li>
              <li><a href="#">ランニング日記</a></li>
            </ul>
            <h2 class="content__main__right__side__list__menu">個人開発アプリ</h2>
            <ul>
              <li><a href="https://ancient-wave-25450.herokuapp.com/users/sign_in">家計簿アプリ(Balance Sheet)</a></li>
            </ul>
            <h2 class="content__main__right__side__list__menu">SNS</h2>
            <ul>
              <li><a class="fa fa-github" href="https://github.com/takahiro-ueda">GitHub</a></li>
              <li><a a class="fa fa-twitter" href="https://twitter.com/home">Twitter</a></li>
            </ul>
            <iframe src="https://calendar.google.com/calendar/embed?src=pt25ue%40gmail.com&ctz=Asia%2FTokyo" style="border: 0" width="400" height="300" frameborder="0" scrolling="no"></iframe>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="pcFooter">
  <%# <div class="pcFooter__footer">
  <ul class="pcFooter__footer__contents">
    <li class="pcFooter__footer__contents__content">
      <h2 class="pcFooter__footer__contents__content__head">管理者</h2>
      <ul>
        <li><a href="#">プロフィール</a></li>
        <li><a href="#">制作概要</a></li>
      </ul>
    </li>
    <li class="pcFooter__footer__contents__content">
      <h2 class="pcFooter__footer__contents__content__head">ブログ</h2>
      <ul>
        <li><a href="#">プログラミング日記</a></li>
        <li><a href="#">ランニング日記</a></li>
      </ul>
    </li>
    <li class="pcFooter__footer__contents__content">
      <h2 class="pcFooter__footer__contents__content__head">SNS</h2>
      <ul>
        <li><a class="fa fa-github" href="https://github.com/takahiro-ueda">GitHub</a></li>
        <li><a a class="fa fa-twitter" href="https://twitter.com/home">Twitter</a></li>
      </ul>
    </li>
  </ul> %>
  <%# </div> %>
  <p>© Tree blog. 2020.4~</p>
</footer>