<header>
  <div class="header__content">
    <div class="header__content__left">
      <%= link_to "Tree Blog", '/', class: "header__content__left__title" %>
      <div class="header__content__left__sub-title">半歩先の目標設定・達成</div>
    </div>
    <div class="header__content__right">
      <div class="header__content__right__icon">
        <%= link_to("https://twitter.com/home") do %>
          <%= fa_icon("twitter") %>
        <% end %>
        <%= link_to("https://github.com/takahiro-ueda") do %>
          <%= fa_icon("github") %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="contents">
  <div class="content">
    <%= render 'layouts/slide' %>
    <div class="content__header">
      <div class="content__header__list">
        <%= link_to "プロフィール", profile_users_path, class: "content__header__list__icon" %>
        <%= link_to "学歴・経歴", career_users_path, class: "content__header__list__icon" %>
        <%= link_to "制作概要", overview_users_path, class: "content__header__list__icon" %>
        <%= link_to "実装機能・課題", problem_users_path, class: "content__header__list__icon" %>
      </div>
    </div>
    <div class="content__main">
      <div class="content__main__left">
        <div class="content__main__left__seach">
          <h2>新着投稿</h2>
          <%= form_with(url: search_posts_path, local: true, method: :get, class: "blog__contents__seach__form") do |form| %>
            <%= form.text_field :keyword, placeholder: "投稿(タイトル)を検索する", class: "blog__contents__seach__form__input" %>
            <%= form.submit "検索", class: "blog__contents__seach__form__btn" %>
            <%= hidden_field_tag :search, true %>
          <% end %>
        </div>
        <% @posts.first(5).each do |post| %>
          <%= render partial: "posts/post", locals: { post: post } %>
        <% end %>
        <%# <%= paginate(@posts) %>
      </div>
      <div class="content__main__right">
        <ul class="content__main__right__side">
          <li class="content__main__right__side__list">
            <%= link_to "ブログ作成者", posts_path, class: "content__main__right__side__list__menu" %>
            <ul>
              <li>
                <img src="/line_743968890967290.jpg" alt="staff1" class="content__main__right__side__list__menu__image">
                <h4>
                植田　孝啓（うえだ　たかひろ）<br>
                1996/04/25 (24歳)<br>
                未経験からプログラミングを学習<br>
                しています<br>
                日々の積み上げを記録していき<br>
                たいと思います<br>
                よろしくお願いします！！！<br>
                詳しくは<%= link_to "プロフィール", profile_users_path, class: "stylist-name" %>をご覧ください
                </h4>
              </li>
            </ul>
            <h2 class="content__main__right__side__list__menu">カテゴリ</h2>
            <% @categories.each do |category| %>
              <p><%= link_to "#{category.name}", "posts/:post_id/categories/#{category.id}" %></p> 
            <% end %>
            <h2 class="content__main__right__side__list__menu">個人開発アプリ</h2>
            <ul>
              <li><a href="https://ancient-wave-25450.herokuapp.com/users/sign_in">家計簿アプリ(Balance Sheet)</a></li>
            </ul>
            <h2 class="content__main__right__side__list__menu">SNS</h2>
            <ul>
              <li><a class="fa fa-github" href="https://github.com/takahiro-ueda">　GitHub</a></li>
              <li><a a class="fa fa-twitter" href="https://twitter.com/home">　Twitter</a></li>
              <li><a a class="fa fa-wikipedia-w" href="https://www.wantedly.com/users/135157931">　Wantedly</a></li>
            </ul>
            <iframe src="https://calendar.google.com/calendar/embed?src=pt25ue%40gmail.com&ctz=Asia%2FTokyo" style="border: 0" width="400" height="300" frameborder="0" scrolling="no"></iframe>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="pcFooter">
  <div class="pcFooter__footer">
    <%= link_to("https://twitter.com/home") do %>
      <%= fa_icon("twitter") %>
    <% end %>
    <%= link_to("https://github.com/takahiro-ueda") do %>
      <%= fa_icon("github") %>
    <% end %>
  </div>
  <div class="pcFooter__target">実力がない人間がやらなきゃいけないことは２つだけー実力を上げることと、出来る仕事を全力でやる</div>
  <div class="pcFooter__text">© Tree blog. 2020.4~</div>
</footer>

<script>
$(document).on('turbolinks:load', function() {
  $('.content__image').not('.slick-initialized').slick({
    // arrows: false,
    // autoplay: true,
    // autoplaySpeed: 0,
    // speed: 7000,
    // cssEase: "linear",
    // pauseOnHover: true

    infinite: true, //スライドのループ有効化
    dots:true, //ドットのナビゲーションを表示
    centerMode: true, //要素を中央寄せ
    centerPadding:'10%', //両サイドの見えている部分のサイズ
    autoplay:true, //自動再生
  });
});
</script>