<div class="content__user">
  <div class="content__user__top">
    <% breadcrumb :log_in %>
    <%= breadcrumbs separator: " &rsaquo; " %>
  </div>
  <div class="content__user__log">
    <div class="content__user__log__left">
      <h2>ログイン</h2>
    </div>
  
    <div class="content__user__log__right">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "件のエラーにより") %> 保存できませんでした。</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <div class="field__email">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field__email__text" %>
          </div>

          <div class="field__password">
            <%= f.label :パスワード %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "field__password__text" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
      <div class="registration">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>