<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
  </div>

  <div class="field">
    <%= form.label :category_id, 'カテゴリ' %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, { prompt: "---" }, { class: "category_select-box", id: "category_select" }) %>
  </div>

  <div class="field">
    <%= form.label :content, 'ブログ記事（最大2000文字）' %>
    <%= form.rich_text_area :content, placeholder: :ブログ本文, class: :form__text %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit '投稿する', class: :form__btn %>
  </div>
  <%= button_to '戻る', posts_path(@post.id), class: "postManage__back" %>
<% end %>
