<div class="blog__content">
  <div class="blog__content__left">
    <div class="blog__content__left__image"></div>
  </div>
  <div class="blog__content__right">
    <div class="blog__content__right__tag">
      <div class="blog__content__right__tag__top">
        <%= link_to post.title, post_path(post.id), class: "blog__content__right__tag__top__title" %>
        <div class= "blog__content__right__tag__top__category">
          <span>【カテゴリ】</span>
          <% post.categories.each do |category| %>
            <%= category.name %>
          <% end %>
        </div>
      </div>
      <div class="blog__content__right__tag__bottom">
        <div class="blog__content__right__tag__bottom__userName">
          <%= link_to post.user.nickname, user_path(post.user), class: "blog__content__tag__right__bottom__userName__btn" %>
        </div> 
        <div class="blog__content__right__tag__center__date">
          <%= post.created_at %>
        </div>
      </div>
    </div>
    <div class="blog__content__right__text">
      <div class="blog__content__right__text__blog">
        <%= post.content %>
      </div>
    </div>
  </div>
  <%# <%= render partial: 'likes/nolike', locals: { post: post, posts: @posts, likes: @likes, like: @like } %>
</div>