<%= render partial: 'header' %>
<div class="blog__contents">
  <div class="blog__content__title">
    投稿の編集
    <%= form_with model: @post, class: :form, local: true do |form| %>
    <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
    <%= form.label :content %>
    <%= form.rich_text_area :content, placeholder: :ブログ本文, class: :form__text %>
    <%= form.submit '投稿する', class: :form__btn %>
    <% end %>
    <%= link_to '戻る', posts_path(@post.id), class: "postManage__back" %>
  </div>
</div>