<%= render partial: 'header' %>
<% breadcrumb :blog %>
<div class="blog__contents">
  <h2>新着投稿</h2>
  <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "カテゴリを選んでください", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
    <%= hidden_field_tag :search, true %>
  <% end %>
  <% @posts.each do |post| %>
    <%= render partial: "post", locals: { post: post } %>
  <% end %>
  <%= paginate(@posts) %>
</div>