<header class="blog__header">
  <div class="blog__header__title">
    <%= link_to "Je mets au défi la vie.", "/", class: "blog__header__title__text" %>
  </div>
  <div class="blog__header__right">
    <% if user_signed_in? %>
      <%= link_to "新規投稿", new_post_path, class: "header__right--btn" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
      <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
    <% end %>
  </div>
</header>
<div class="blog__contents">
  <% @posts.each do |post| %>
    <div class="blog__content">
      <div class="blog__content__left">
        <div class="blog__content__left__image"></div>
      </div>
      <div class="blog__content__right">
        <div class="blog__content__right__top">
          <%= link_to post.title, post_path(post.id), class: "blog__content__right__top__title" %>
        </div>
        <div class="blog__content__right__bottom">
          <div class="blog__content__right__bottom__date">
            <%= post.created_at %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>