<header class="blog__header">
  <div class="blog__header__title">
    <%= link_to "Je mets au défi la vie.", "/", class: "blog__header__title__text" %>
  </div>
  <div class="blog__header__right">
    <%= link_to "新規投稿", new_post_path, class: "blog__header__right__btn" %>
  </div>
</header>
<div class="blog__contents">
  <div class="blog__content__title">
  新規記事の作成
  <%= form_with model: @post, class: :form, local: true do |form| %>
  <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
  <div class="field">
    <%= form.rich_text_area :content %>
  </div>
  <%= form.text_area :content, placeholder: :ブログ本文, class: :form__text %>
  <%= form.submit '投稿する', class: :form__btn %>
  <% end %>
  </div>
</div>


