<%= render partial: 'header' %>
<div class="blog__contents">
  <div class="blog__content__title">
  <h3>新規記事の作成</h3>
  <%= form_with(model: @post, class: :form, local: true) do |form| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
    </div>

    <div class="field">
      <%= form.label :content %>
      <%= form.rich_text_area :content, placeholder: :ブログ本文, class: :form__text %>
    </div>

    <div class="actions">
      <%= form.submit '投稿する', class: :form__btn %>
      <%= link_to '戻る', posts_path(@post.id), class: "postManage__back" %>
    </div>
  <% end %>
  </div>
</div>