<%= render partial: 'nolist-header' %>
<% breadcrumb :seach_blog %>
<%= breadcrumbs separator: " &rsaquo; " %>

<div class="blog__contents">
  <div class="blog__contents__seach">
    <h2>新着投稿</h2>
    <%= form_with(url: search_posts_path, local: true, method: :get, class: "blog__contents__seach__form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "blog__contents__seach__form__input" %>
      <%= form.submit "検索", class: "blog__contents__seach__form__btn" %>
      <%= hidden_field_tag :search, true %>
    <% end %>
  </div>
  <% @posts.each do |post| %>
    <%= render partial: "posts/post", locals: { post: post } %>
  <% end %>
  <%= paginate(@posts) %>
</div>