<%= render partial: 'nolist-header' %>
<div class="blog__contents">
  <div class="postTitle">
    <%= @post.title %>
  </div>
  <span>【カテゴリ】</span>
  <% @post.categories.each do |category| %>
    <%= @category.name %>
  <% end %>
  <div class="postDate">
    <%= @post.created_at %>
  </div>
  <div class="postAuthor">
  </div>
  <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="postManage">
      <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
      <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "postManage__delete" %>
      <%= link_to '戻る', posts_path(@post.id), class: "postManage__back" %>
    </div>
  <% end %>
  <%= render partial: 'likes/like', locals: { post: @post, posts: @posts, likes: @likes, like: @like } %> 
  <div class="postText">
    <%= @post.content %>
  </div>
</div>
<div class="row">
  <ul>
    <li class="comment-create">
      <h3 class="text-left title">コメント一覧</h3>
    </li>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, post: @post, posts: @posts } %>
    </div>
  </ul>
  <% if user_signed_in? %>
    <div class="comment-create">
      <h3 class="text-left">コメントする</h3>
      <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
    </div>
  <% end %>
</div>