<div class="content__image">
<%# <div class="a"> %>
  <%= image_tag '/Unknown.jpeg', class: "content__image__list" %> 
  <%= image_tag '/Unknown-1.jpeg', class: "content__image__list" %>
  <%= image_tag '/universitystudent_winter_coordinate.jpg', class: "content__image__list" %>  
  <%= image_tag '/00.jpg', class: "content__image__list" %>
  <%= image_tag '/37918711.jpg', class: "content__image__list" %>
</div>