<div class="content__image">
  <%= image_tag '/5cbf55d7d31dc1c56127dd11bf76df9e.jpg', class: "content__image__list" %>
  <%= image_tag '/P7271655.jpg', class: "content__image__list" %> 
  <%= image_tag '/Cat_Buddies-Cute_little_kitty_cat_living_wallpaper_1366x768.jpg', class: "content__image__list" %>
  <%= image_tag '/universitystudent_winter_coordinate.jpg', class: "content__image__list" %>  
  <%= image_tag '/00.jpg', class: "content__image__list" %>
  <%= image_tag '/37918711.jpg', class: "content__image__list" %>
  <%= image_tag '/dc1ceaa7f677ce3d0bd0a99f43554b74-960x720.jpg', class: "content__image__list" %>
</div>